body {
    background-image: url(img.jpg);
    background-size: cover;
    margin: 0px 50px;
    padding: 20px 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    color: cornsilk;
    justify-content: center;
    font-size: 38px;
    text-shadow: 4px 4px 8px lightsteelblue;
}

table {
    border-collapse: collapse;
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    border: 3px solid moccasin;
    border-radius: 5px;
}

tbody {
    text-align: center;
}

th,
td {
    border: 2px solid moccasin;
}

th {
    color: cornsilk;
    text-shadow: 2px 2px 2px black;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
    padding: 5px;
}

td {
    font-family: 'Rock Salt';
    color: blanchedalmond;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px;
    padding: 5px;
}

.btn {
    height: 35px;
    min-inline-size: max-content;
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid moccasin;
    border-radius: 5px;
    width: 80px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
}