body {
    display: flex;
    background-color: cadetblue;
    margin: 25px;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-style: oblique;
    font-size: 48px;
    align-items: center;
}

p{
    text-align: center;
    font-size: xx-large;
}

button{
    box-shadow: 2px 2px 2px black;    
    margin: 10px 0px;
    text-transform: uppercase;
    background-color: #c3fd71;
    border-color: #7B1B74;
    color: #7B1B74;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    
}

a:link{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}